<div class="container__big-card">
  <div class="big-card__photo">

    <img src ="assets/magno.png" alt="" height="250px" width="380px" srcset="">

  </div>

  <div class="big-card__title">
    <h1>Eu sou Magno Souza</h1>
  </div>

  <div class="big-card__description">
    <p>
      Estudante de Análise e Desenvolvimento de Sistemas | Especializando-se em Java Backend
      Desenvolvedor Back-End | Full Stack: Java, Spring Boot, Microsserviços, APIs RESTful, Angular, JPA, Hibernate, SQL
      Objetivo: Criar soluções tecnológicas inovadoras e escaláveis para resolver problemas complexos, integrando tecnologia e otimização de processos.
      Habilidades Técnicas:
      Linguagens: Java, SQL
      Frameworks: Spring Boot, Hibernate, Angular
      Metodologias: Ágeis (Scrum, Kanban), CI/CD
      Ferramentas: Git, Docker, AWS.
      Open to new opportunities: Vamos colaborar para transformar ideias em realidade!
    </p>
  </div>
</div>
