<div class="container__big-card">
  <div class="big-card__photo">

    <img src="/src/asset/vecteezy_big-modern-city-metropolis-with-high-houses-made-of-concrete_27202047.jpg" alt="Erro">

  </div>
  <div class="big-card__title">
    <h1>Saiu a nova versão do Angular</h1>
  </div>
  <div class="big-card__description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Provident nostrum quod voluptate non quo, quis voluptatum dolorum.
      Hic corrupti nam laboriosam soluta commodi asperiores distinctio
      error possimus, sequi accusamus nostrum.
    </p>
  </div>
</div>
