

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    Id="1"
    photoCover="assets/magno.png"
    cardTitle="Eu sou Magno Souza"
    cardDescription="Estudante de Análise e Desenvolvimento de Sistemas, especializando-se em Java Backend. Habilidades: Java, Spring Boot, Angular, SQL, APIs RESTful, microsserviços. Objetivo: Desenvolver soluções inovadoras e escaláveis. Aberto a novas oportunidades."
    >
  </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    photoCover="https://assets.dio.me/NWp0ked1gAcRd2n_uPBhJUJVmS5mkR31t0YiPMYMdpA/f:webp/q:80/L2FydGljbGVzL2NvdmVyLzdiODlmZGEyLTRhZjMtNGFlMC05OGJjLWFkMmI2NTg1NDkwOS5wbmc"
    cardTitle="Java em 2025: continua relevante, com atualizações constantes e ampla adoção em empresas globais."
    cardEndereco="https://github.com/MSouza27/board/tree/master">
  </app-small-card>

  <div class="articles__others">
    <app-small-card
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6pXQTat5xa_jxh8xM2p-AKDEXFPYgRqOI2Q&s"
    cardTitle="Angular em 2025: framework líder para SPAs, com foco em performance e desenvolvimento ágil."
    cardEndereco="https://github.com/MSouza27/angular-blog">
  </app-small-card>

  <div class="articles__others">
    <app-small-card
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWNwCK8OPWNfPpaSKTfcAUAnuO52ajRLvgEw&s"
    cardTitle="Spring Boot em 2025: simplifica desenvolvimento Java, com foco em microserviços e integração nativa na nuvem."
    cardEndereco="https://github.com/MSouza27/santander-dev-week-2023">
  </app-small-card>

  <div class="articles__others">
    <app-small-card
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRw29zUDL8FEjbxrkF6Q3-b_v8MpnNTzMGZbw&s"
    cardTitle="Inteligência Artificial em 2025: avanços em aprendizado profundo, automação e aplicações em saúde, educação e negócios."
    cardEndereco="https://github.com/MSouza27/Monitoramento-com-YOLO-e-DeepFace">
  </app-small-card>

  </div>
</div>


